@import "./animations.scss";
button.v-btn[disabled] {
  .v-btn__overlay {
    opacity: 0.2;
  }
}
* {
  font-family: Montserrat !important;
}
a {
  outline: none;
  text-decoration: none;
  color: black;
}
.explanation {
  font-size: 8px;
}

::-webkit-scrollbar {
  display: none;
}

.p-clamp {
  font-size: clamp(0.75rem, 0.55rem + 0.8vw, 1rem);
}
.h3-clamp {
  font-size: clamp(0.875rem, 0.675rem + 0.8vw, 1.125rem);
}